@model IEnumerable<Model.Wrapper.AlumnoWrapper.ListAlumnosWrapper>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/Content/Infragistics/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
<link href="~/Content/Infragistics/css/structure/infragistics.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script src="~/Scripts/Infragistics/js/infragistics.core.js"></script>
<script src="~/Scripts/Infragistics/js/infragistics.lob.js"></script>


<h2 class="page-header">
    <a href="Home/crud" class="btn btn-default pull-right ">Nuevo</a>
    XXX Listado Alumnos XXX
</h2>

<table class="table">
    <thead>
        <tr>
            <th style="width:200px">Nombre</th>
            <th style="width:200px">Sexo</th>
            <th style="width:200px">Fecha de Nacimiento</th>
            <th style="width:200px"></th>
        </tr>
    </thead>
    <tbody>
       
    @foreach (var m in Model)
    {
    <tr>
        <td>@(m.Nombre +" "+m.Apellido)</td>
        <td>@(m.Sexo == 1 ? "Hombre" : "Mujer")</td>
        <td>@m.FechaNacimiento</td>
        <td >
            <a class="btn btn-xs btn-default" href="~/home/ver/@m.id">Ver</a>
            <a class="btn btn-xs btn-primary" href="~/home/crud/@m.id">Editar</a>
            <a onclick="return confirm('Desea Eliminar');" class="btn btn-xs btn-danger" href="~/home/Eliminar/@m.id">Eliminar</a>
        </td>
    </tr>

    }
    
    </tbody>

</table>

<br />

