@model IEnumerable<Model.Wrapper.AlumnoWrapper.ListAlumnosWrapper>
 
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="page-header">
    <a href="Home/crud" class="btn btn-default pull-right ">Nuevo</a>
    Listado Alumnos
</h2>

<table class="table">
    <thead>
        <tr>
            <th style="width:200px">Nombre</th>
            <th style="width:200px">Sexo</th>
            <th style="width:200px">Fecha de Nacimiento</th>
            <th style="width:200px"></th>
        </tr>
    </thead>
    <tbody>
       
    @foreach (var m in Model)
    {
    <tr>
        <td>@(m.Nombre +" "+m.Apellido)</td>
        <td>@(m.Sexo == 1 ? "Hombre" : "Mujer")</td>
        <td>@m.FechaNacimiento</td>
        <td >
            <a class="btn btn-xs btn-default" href="~/home/ver/@m.id">Ver</a>
            <a class="btn btn-xs btn-primary" href="~/home/crud/@m.id">Editar</a>
            <a class="btn btn-xs btn-danger" href="~/home/eliminar/@m.id">Eliminar</a>
        </td>
    </tr>

    }
    
    </tbody>

</table>