
@using Infragistics.Web.Mvc
@model Infragistics.Web.Mvc.GridModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/Content/Infragistics/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
<link href="~/Content/Infragistics/css/structure/infragistics.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script src="~/Scripts/Infragistics/js/infragistics.core.js"></script>
<script src="~/Scripts/Infragistics/js/infragistics.lob.js"></script>


<h2 class="page-header">
    <a href="Home/crud" class="btn btn-default pull-right ">Nuevo</a>
    Listado Alumnos2
</h2>


@(Html.Infragistics()
    .Grid(Model)
    )
